:root {
  /* color */
  --black-color: #565c5e;
  --blue-color: #b5c2c7;
  --white-color: #dfdbd8;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* size */
  --side-padding: 12px;
  --avatar-size: 36px;

  /* Font-size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  min-width: 400px;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--black-color);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: calc(var(--side-padding) / 2) 0;
}

header .logo {
  font-size: var(--font-large);
}

header .logo .fa-compact-disc {
  padding-left: var(--side-padding);
}

header .icon .fa-search {
  margin-right: var(--side-padding);
}

header .icon .fa-ellipsis-v {
  padding-right: var(--side-padding);
}

.cover {
  position: sticky;
  top: 0px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  
}

.welcome {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cover .welcome .title {
  display: inline-block;
  border-bottom: var(--black-color) double 5px;
  font-size: 50px;
}

.cover .welcome .sub-title {
  padding-top: calc(var(--side-padding) / 2);
  font-size: 20px;
}

.lists {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
 
}

.lists .films {
  font-size:var(--font-large);
  padding: var(--side-padding) 0;
}

.lists .items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.list .items .item{
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.lists .items .item .info{
  padding-top: var(--side-padding);
  padding-bottom: calc(var(--side-padding)*2);
}



footer {
  display: flex;
  justify-content: space-between;
  padding: var(--black-color);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: calc(var(--side-padding) / 2) 0;
}

footer .adress {
  font-size: var(--font-large);
}

footer .adress .fa-address-card {
  padding-left: var(--side-padding);
}

footer .closing .fa-thumbs-up {
  margin-right: var(--side-padding);
}

footer .closing span {
  padding-right: var(--side-padding);
}
